body {
  height: 100%;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12pt;
  background-color: #ffffff; /* flat white */
  color: #333333;            /* charcoal black */
}

body {
  display: flex;
  justify-content: center; /* center horizontally */
  align-items: center;     /* center vertically */
  text-align: center;
}

.words {
  line-height: 1.5;
}

.words a {
  color: inherit;         /* charcoal black */
  text-decoration: none;
  display: block;         /* one per line */
  margin: 3px 0;
}

.words a:hover {
  text-decoration: underline;
  color: #000000;         /* pure black on hover */
}